

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help</title>
    @Html.Partial(Url.Content("/wwwroot/Help.html")))
</head>
<body>
</body>
</html>
